<!doctype html>

<html amp lang="{{ .Site.Language.Lang }}">
  <head>
    {{- partial "head.amp" . }}
  </head>
  <body class="page-{{ .Kind }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3R2KD7"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainHeader">
    {{- partial "nav.amp" . }}
  </header>
  <main class="main wrap md">
    <main class="home">
    {{ .Content }}
    </main>
  </main>
  {{- partial "footer" . }}
  </body>
</html>
