{{- $lunrPath := "js/lunr.js" }}
{{- $lunr := resources.Get $lunrPath | resources.ExecuteAsTemplate $lunrPath . }}

{{- $searchPath := "js/search.js" }}
{{- $search := resources.Get $searchPath | resources.ExecuteAsTemplate $searchPath . }}

{{- $newsDisplayPath := "js/news_display.js" }}
{{- $newsDisplay := resources.Get $newsDisplayPath | resources.ExecuteAsTemplate $newsDisplayPath . }}

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $bundle := slice $lunr $search $main $newsDisplay | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src = '{{ $bundle.Permalink }}'></script>

<!-- Integrate custom JS -->
{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script>
    {{ end }}
{{ end }}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
