.nav
  display: grid
  grid-template-columns: 10rem 1fr 1fr
  grid-gap: 1rem
  padding: 1rem 1.5rem !important
  align-items: center
  background-color: var(--bg)
  &_header
    width: 100%
    background-color: var(--bg)
    z-index: 999999
  &_body
    display: flex
  &-link
    display: inline-flex
    padding: 0.5rem 1rem

.logo-link
  display: block;
  margin: 0 auto
  max-width: 320px;

  img
    width: 100%;

.nav-up
  top: -200px


.nav-link
  display: inline-flex
  text-align: center
  padding: 0.5rem 1rem
  border: 1px solid #DDD
  border-radius: 5%
  margin: 2px


.nav-link:hover
  background-color: #DDD
  color: black

.nav-link
  white-space: nowrap;

.wrap.nav
  position: absolute
  top: 0
  left: 0
  @media (max-width: 700px)
    display: flex;
    flex-direction: column;
