<!doctype html>

{{/*
{{- if or (eq .Section "application-faq")  (eq .Section "goldcard-holders-faq") }}
<html itemscope itemtype="https://schema.org/FAQPage" lang="{{ .Site.Language.Lang }}">
{{- else }}
<html lang="{{ .Site.Language.Lang }}">
{{- end }}
*/}}

<html lang="{{ .Site.Language.Lang }}">
<head>
  {{- partial "head" . }}
</head>
<body class="page-{{ .Kind }}">
  <header class="nav_header">
    {{- partial "nav" . }}
  </header>
  <main class="main wrap md">
    {{- if or (eq .Section "application-faq")  (eq .Section "goldcard-holders-faq") }}
    {{- partial "document" . }}
    {{- else }}
    {{- block "main" . }}{{ end }}
    {{- end }}
  </main>
  {{- partial "footer" . }}
  {{- partial "scripts" . }}
</body>
</html>
