<!doctype html>

{{/*
{{- if or (eq .Section "application-faq")  (eq .Section "goldcard-holders-faq") }}
<html itemscope itemtype="https://schema.org/FAQPage" lang="{{ .Site.Language.Lang }}">
{{- else }}
<html lang="{{ .Site.Language.Lang }}">
{{- end }}
*/}}

<html lang="{{ .Site.Language.Lang }}">
<head>
  {{- partial "head" . }}
</head>
<body class="page-{{ .Kind }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3R2KD7"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header class="mainHeader">
    {{- partial "nav" . }}
  </header>
  <main class="main wrap md">
    {{- if or (eq .Section "application-faq")  (eq .Section "goldcard-holders-faq") }}
    {{- partial "document" . }}
    {{- else }}
    {{- block "main" . }}{{ end }}
    {{- end }}
  </main>
  {{- partial "footer" . }}
  {{- partial "scripts" . }}
  {{ if .IsHome }}
    <!-- Required for netlify authentication redirects -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  {{ end }}
</body>
</html>
